@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("../css/utilities.css");

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica !important;
}
:root {
    --color-yellow: #ffbc38;
    --color-red: #e94058;
    --color-space: #000f32;
    --color-blue: #00b2e2;
}

/* Fonts */
.font-poppins {
    font-family: "Poppins" !important;
}

.container {
    max-width: 1760px;
}

.landing-header {
    background-color: var(--color-yellow);
    padding: 16px;
    box-shadow: 0px 3px 6px #00000064;
    position: relative;
    z-index: 2;
}
.landing__nav-item {
    color: #000;
    font-size: 14px;
    font-family: Helvetica !important;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.landing__nav-item button {
    font-size: 14px;
    font-weight: bold;
    max-width: 300px;
    width: 100%;
    height: 40px;
    border-radius: 16px;
}

.landing__content-principal {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
}

/* Main banner */
.landing__main-banner {
}

/* Lineup */
.landing__line-up {
    width: 100%;
    background-image: url("../images/lineup-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
}

.landing__line-up__wrapper {
    min-height: 538px;
    background-color: #fff;
    padding: 35px;
    border-radius: 28px;
}

.landing__line-up__item {
    max-width: 402px;
    width: 100%;
    margin: auto;
}

.landing__line-up__title {
    color: #000f32;
    text-align: center;
    margin-bottom: 30px;
}

.landing__line-up__subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #00b0df;
    margin-bottom: 20px;
}
.landing__line-up__text {
    font-size: 16px;
    color: #000f32;
    text-align: center;
    font-weight: 300;
    line-height: 30px;
}

/* Coundown */
.landing__countdown {
    padding: 80px 16px;
}

.landing__countdown__title {
    color: #00b0df;
    margin-bottom: 30px;
}

.landing__countdown__subtitle {
    font-size: 30px;
    font-weight: bold;
}

.landing__countdown__wrapper {
    max-width: 1200px;
    margin: auto;
}

.landing__countdown__timer {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.simply-section div {
    display: flex;
    padding: 16px;
    background: var(--color-space);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
    border-radius: 8px;
}

.simply-section:not(:last-child) {
    margin-right: 10px;
}
/* Memories */
.landing__memories {
    min-height: 350px;
    margin-bottom: 80px;
    background: var(--color-yellow);
    padding: 40px 16px 70px;
}

.landing__memories__title {
    margin-bottom: 38px;
    color: var(--color-space);
}

.landing__memories__track {
    max-width: 1487px;
    width: 100%;
    margin: auto;
}
.landing__memories__item {
    height: 173px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.landing__memories__arrow {
    width: 30px;
    background: none;
    opacity: 1;
}

.landing__memories__arrow.splide__arrow--prev {
    left: -10px;
}
.landing__memories__arrow.splide__arrow--next {
    right: -10px;
}

/* Socials */
.landing__socials {
    margin-bottom: 80px;
}

.landing__socials__about {
    position: relative;
    background: #00b0df;
    border-radius: 20px;
    padding: 18px;
    min-height: 700px;
    width: 100%;
}

.landing__socials__title {
    font-weight: 300;
    margin-bottom: 28px;
}

.landing__socials__about p {
    font-size: 18px;
    font-weight: 300;
}

.landing__socials__wrapper-image {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    height: 250px;
}
.landing__socials__about img {
    position: absolute;
    right: -30px;
    bottom: -40px;
    max-width: 421px;
    width: 100%;
}

/* Map */
.landing__map__title {
    color: var(--color-space);
    font-weight: normal;
    margin-bottom: 27px;
}

/* Contact */
.landing__contact__wrapper {
    background: var(--color-space);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 80px;
}

.landing__contact__title {
    font-weight: normal;
    line-height: 84px;
    margin-bottom: 24px;
}

.landing__contact__button {
    background: #fff;
    border: 1px solid #707070;
    border-radius: 20px;
    padding: 18px;
    color: var(--color-space);
    text-align: center;
    max-width: 1195px;
    width: 100%;
    margin-bottom: 64px;
}

.landing__contact__info {
    font-size: 20px;
    color: #fff;
}
.landing__contact__info i {
    font-size: 30px;
    margin-right: 10px;
}

/* Redes */
.landing__float-redes {
    position: fixed;
    right: 0;
    height: 250px;
    width: 40px;
    background-color: var(--color-space);
    padding: 5px;
    top: calc(50% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
}

.landing__float-redes > nav ul {
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.landing__float-redes > nav ul a {
    color: var(--color-yellow);
}

/* Footer */
.landing__footer {
    background: var(--color-yellow);
    padding: 77px 77px 60px 77px;
}

.landing__footer__nav {
    margin-top: 80px;
}
.landing__footer__nav a {
    color: #fff;
    font-size: 60px;
}

@media (min-width: 578px) {
    .landing__content-principal {
        position: absolute;
    }
    .landing__counter {
        height: 500px;
    }
    #welcome-video {
        width: 1000px;
        height: 400px;
    }
}

@media (min-width: 992px) {
    .landing-header {
        margin-top: 50px;
        border-radius: 16px;
    }
    .landing__nav-item {
        font-size: 20px;
    }
    .landing__nav-item:not(:last-child) {
        margin-right: 35px;
    }
    .landing__nav-item button {
        font-size: 20px;
        height: 66px;
    }
    /* Memories */
    .landing__memories {
        min-height: 550px;
        padding: 40px 16px 40px;
    }
    .landing__memories__item {
        height: 224px;
    }
    .landing__memories__arrow {
        width: 80px;
    }
    .landing__memories__arrow.splide__arrow--prev {
        left: 0px;
    }
    .landing__memories__arrow.splide__arrow--next {
        right: 0px;
    }
    /* Countdown */
    .simply-section div {
        font-size: 30px;
        width: 144px;
        height: 115px;
        border-radius: 20px;
    }
    .landing__countdown__title {
        margin-bottom: 80px;
    }
    /* Lineup */
    .landing__line-up {
        padding: 60px;
    }
    .landing__line-up__title {
        margin-bottom: 86px;
    }
    .landing__line-up__subtitle {
        font-size: 25px;
    }
    .landing__line-up__text {
        font-size: 25px;
        margin-bottom: 27px;
    }
    /* Socials */
    .landing__socials {
        margin-bottom: 80px;
    }

    .landing__socials__about {
        padding: 70px;
    }
    .landing__socials__about p {
        font-size: 25px;
    }
}
